@media only screen and (max-width: 1800px) {
    #mainPage .products .items-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media only screen and (max-width: 1250px) {
    #mainPage #mainView .text .title {
        font-size: 54px !important;
    }
    #mainPage .appereance {
        width: 95% !important;
        padding: 25px !important;
        ul {
            grid-template-columns: repeat(4, 1fr) !important;
        }
        ul .title {
            padding: 10px 10px !important;
            div {
                gap: 0px !important;
            }
        }
    }
    #mainPage #mainView {
        height: 650px !important;
    }

    #mainPage .appereance ul .title.search {
        grid-column-end: auto !important;
        grid-column-start: auto !important;
    }
    #mainPage {
        .productView {
            padding: 100px 0 30px !important;
        }
        .carousel-container {
            margin: 35px 0 !important;
            .item {
                width: 400px !important;
                height: 400px !important;
            }
        }
        .products {
            padding: 0 30px !important;
            margin-top: 30px !important;
        }
        .map-def {
            max-width: calc(100% - 60px) !important;
        }
    }
    #formFeedback {
        display: none !important;
    }
}

@media only screen and (max-width: 1000px) {
    #mainPage .products .items-wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    #footer {
        padding: 45px 35px !important;
        .title {
            font-size: 30px !important;
            margin-bottom: 36px !important;
        }
        .mainBox ul.categories {
            gap: 15px 15px !important;
        }
        .social {
            margin-top: 36px !important;
        }
    }
    #mainPage .products .items-wrapper {
        grid-auto-rows: 175px !important;
        .item {
            align-items: end !important;
            justify-content: right !important;
            .bg {
                right: 70% !important;
            }
            .info {
                background-color: white !important;
                background-image: none !important;
                width: 70% !important;
                height: 100% !important;
                display: flex;
                flex-direction: column !important;
                justify-content: space-between !important;
            }
        }
    }
    ._title nav span {
        font-size: 28px !important;
    }
    .productView {
        ._title {
            padding: 0px 30px !important;
        }
    }
    #map {
        height: 300px !important;
        margin-top: 30px !important;
    }
    #mainPage #mainView .text {
        padding: 130px 20px !important;
        .disc {
            width: 60% !important;
            font-size: 14px !important;
        }
        .btn {
            font-size: 15px !important;
            padding: 12px 14px !important;
        }
        .title {
            width: 80% !important;
            font-size: 36px !important;
        }
    }
    #mainPage #mainView {
        height: 485px !important;
    }

    #mainPage .carousel-container {
        .btn {
            font-size: 15px !important;
            padding: 12px 14px !important;
        }
        .item {
            width: 250px !important;
            height: 250px !important;
            .bg {
                bottom: 85px !important;
            }
            .info {
                padding: 5px !important;
                .options ul li {
                    font-size: 14px !important;
                }
                .locationAndPrice .price .mainPrice {
                    font-size: 20px !important;
                }
                .location {
                    img {
                        width: 20px !important;
                        height: 20px !important;
                    }
                    span {
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
    #footer {
        .logo {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        display: none !important;
        .mid {
            display: none;
        }
    }
    #mainPage .appereance {
        width: 100% !important;
        border-radius: 0 !important;
        padding: 14px !important;
    }
    #mainPage #mainView .text {
        padding: 30px 20px !important;
    }
    #mainPage #mainView {
        height: 400px !important;
    }

    #mainPage .appereance ul {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #mainPage #mainView .text .title {
        width: 90% !important;
    }
}

@media only screen and (max-width: 600px) {
    #mainPage .products .items-wrapper .item {
        align-items: end !important;
        flex-direction: column !important;
        height: 350px !important;
    }

    #mainPage .products .items-wrapper {
        display: flex !important;
        flex-direction: column !important;
    }
    #mainPage .products .items-wrapper .item .info {
        width: 100% !important;
    }
    #mainPage .products .items-wrapper .item .bg {
        right: 0% !important;
    }
    #footer .mainBox {
        display: flex;
        flex-direction: column !important;
    }

    #footer {
        padding: 30px 15px !important;
        .mainBox ul.categories.two {
            display: none !important;
        }
    }

    #footer .mainBox .line {
        display: none !important;
    }

    #mainPage .products .items-wrapper .item .info .locationAndPrice {
        display: flex;
        flex-direction: column !important;
        align-items: start !important;
        justify-content: start !important;
    }
    .item .bg {
        position: relative !important;
        width: 100% !important;
        height: 50% !important;
        background-position: center;
        background-size: cover;
        background-image: url(/_nuxt/public/images/bg_product.png);
    }
    #mainPage .products {
        padding: 0 20px !important;
    }
    #mainPage .map-def {
        max-width: calc(100% - 0px) !important;
    }
    #mainPage #mainView {
        height: 340px !important;
        .text .title {
            font-size: 20px !important;
        }
        .text .disc {
            font-size: 12px !important;
        }
        .text .btn {
            font-size: 12px !important;
        }
    }

    #mainPage #mainView .text p {
        font-size: 12px !important;
    }
    .title {
        width: 80% !important;
        font-size: 20px !important;
    }
    .appereance {
        .toggle {
            p {
                font-size: 12px !important;
            }
        }
    }

    .title {
        width: 100% !important;
    }
    ._title nav span {
        font-size: 19px !important;
    }
    #mainPage .carousel-container .item {
        width: 300px !important;
        height: 300px !important;
        margin-right: 10px !important;
    }
    #mainPage .carousel-container .item .info .locationAndPrice {
        display: flex;
        flex-direction: column !important;
        gap: 10px !important;
        align-items: self-start !important;
    }

    #mainPage .carousel-container .item .bg {
        position: relative !important;
        width: 100% !important;
        height: 50% !important;
        background-position: center;
        background-size: cover;
        bottom: 0;
    }
    #mainPage .carousel-container .item .info {
        height: 50% !important;
    }
    #mainPage .carousel-container .item {
        display: flex;
        flex-direction: column !important;
    }
    .productView ._title {
        padding: 0 10px !important;
    }
    #mainPage .carousel-container {
        margin: 10px 0 !important;
    }
    .btn {
        padding: 9px 12px !important;
        font-size: 16px !important;
    }
    #mainPage .products .items-wrapper .item .info .locationAndPrice .price .mainPrice {
        font-size: 24px !important;
    }
    .items-wrapper .locationAndPrice .location img {
        height: 20px !important;
        width: 20px !important;
    }
    .items-wrapper .locationAndPrice .location span {
        font-size: 16px !important;
    }
    #mainPage .products .items-wrapper .item .info {
        height: fit-content !important;
        width: 100% !important;
    }
    #mainPage .products .items-wrapper .item {
        justify-content: space-between !important;
        .bg {
            position: relative !important;
            width: 100% !important;
            height: 60% !important;
        }
    }
}

@media only screen and (max-width: 600px) {
    #prod .item {
        flex-direction: column !important;
    }
    #prod .item .right .price .main .btns {
        a,
        div {
            gap: 20px;
            padding: 19px 13px;
            p {
                font-size: 14px;
            }
        }
    }
    #prod .item .right .options {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    #prod {
        padding: 0px 15px;
        ._margin {
            height: 20px;
        }
        .item .right .price .main #price {
            font-size: 28px !important;
        }
        .item .right .title .main h2 {
            font-size: 25px !important;
        }
        .item .left .carousel-prod .images img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
        .left .mainImg {
            height: 200px !important;
        }
        .item .left .carousel-prod {
            display: flex;
            height: 80px;
        }
        .item .right .price .main {
            display: flex;
            align-items: center !important;
        }
        .item .left {
            width: 100%;
        }
        .right {
            width: 100% !important;
            .price {
                .main {
                    display: flex;
                    flex-direction: row;
                }
            }
            hr {
                margin: 15px 0 !important;
            }
        }
        .discItem .listItems {
            grid-template-columns: repeat(1, 1fr);
        }
        .items-wrapper {
            grid-template-columns: repeat(1, 1fr);
            height: fit-content;
            gap: 5px;
        }
        .items-wrapper .item {
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            margin-right: 20px;
            height: 350px;
            .bg {
                height: 60% !important;
            }
            .info {
                height: 50%;
            }
        }
    }
    #prod .items-wrapper .item {
        display: flex;
        gap: 0px !important;
    }
    #prod .item .right .price .main .btns a {
        display: none !important;
    }
    #prod .item .right .price .main .btns div {
        width: fit-content;
        height: 45px !important;
    }
    #allProd .items-wrapper .item {
        display: flex;
        flex-direction: column !important;
    }
    #allProd {
        .items-wrapper {
            display: flex !important;
            flex-direction: column;
            margin-top: 10px !important;
            .locationAndPrice .location span {
                font-size: 22px !important;
            }
            .item {
                height: 350px !important;
                justify-content: space-between;
                background-color: white !important;
                .bg {
                    position: relative !important;
                    width: 100% !important;
                    height: 95% !important;
                }
            }
        }
        .filterBlock {
            display: flex;
            overflow-x: scroll;
            max-width: 100%;
            margin-top: 10px !important;
            input {
                width: 250px !important;
            }
            button {
                display: none;
            }
        }
    }
    ._margin {
        height: 0px !important;
    }
    #profile {
        .info .main form .inputs {
            grid-template-columns: 1fr;
        }
        .info .colorGrd {
            height: 100px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        .info {
            border-radius: 0;
            border: none;
        }
    }
    #register {
        display: block;
        .bg {
            display: none;
        }
    }
}
