@media only screen and (max-width: 1250px) {
    #mainPage {
        .appereance {
            width: 95% !important;
            padding: 25px !important;
            ul {
                grid-template-columns: repeat(4, 1fr) !important;
            }
            ul .title {
                padding: 10px 10px !important;
                div {
                    gap: 0px !important;
                }
            }
        }
        #mainView {
            height: 650px !important;
            .text .title {
                font-size: 54px !important;
            }
        }
        .appereance ul .title.search {
            grid-column-end: auto !important;
            grid-column-start: auto !important;
        }
        .productView {
            padding: 100px 0 30px !important;
        }
        .products {
            padding: 0 30px !important;
            margin-top: 30px !important;
        }
        .map-def {
            max-width: calc(100% - 60px) !important;
        }
    }
    #formFeedback {
        display: none !important;
    }
    .items-wrapper {
        grid-template-columns: repeat(3, 1fr);
        .bg img {
            height: 200px !important;
        }
    }
    .carousel-container {
        .carousel {
            .items-wrapper {
                .item {
                    width: 350px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #footer {
        padding: 45px 35px !important;
        .title {
            font-size: 30px !important;
            margin-bottom: 36px !important;
        }
        .mainBox ul.categories {
            gap: 15px 15px !important;
        }
        .social {
            margin-top: 36px !important;
        }
    }
    ._title nav span {
        font-size: 28px !important;
    }
    .productView {
        ._title {
            padding: 0px 30px !important;
        }
    }
    #map {
        height: 300px !important;
        margin-top: 30px !important;
    }
    #mainPage #mainView .text {
        padding: 130px 20px !important;
        .disc {
            width: 60% !important;
            font-size: 14px !important;
        }
        .btn {
            font-size: 15px !important;
            padding: 12px 14px !important;
        }
        .title {
            width: 80% !important;
            font-size: 36px !important;
        }
    }
    #mainPage #mainView {
        height: 485px !important;
    }
    #footer {
        .logo {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 800px) {
    header {
        display: none !important;
        .mid {
            display: none;
        }
    }
    #mainPage .appereance {
        width: 100% !important;
        border-radius: 0 !important;
        padding: 14px !important;
    }
    #mainPage #mainView .text {
        padding: 30px 20px !important;
    }
    #mainPage #mainView {
        height: 400px !important;
    }

    #mainPage .appereance ul {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    #mainPage #mainView .text .title {
        width: 90% !important;
    }
    .items-wrapper {
        grid-template-columns: repeat(2, 1fr);
        .bg img {
            height: 200px !important;
        }
        .item .info .locationAndPrice .price {
            font-size: 22px !important;
            font-weight: 600 !important;
            color: #e98800 !important;
        }
        .info .locationAndPrice .location {
            gap: 5px !important;
        }
        .info .title {
            gap: 5px !important;
            font-size: 20px !important;
        }
        .info .title span {
            font-size: 13px !important;
            padding: 2px 5px !important;
        }
    }
    .carousel {
        .items-wrapper {
            .item {
                width: 300px !important;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #footer .mainBox {
        display: flex;
        flex-direction: column !important;
    }

    .items-wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #allProd {
        .items-wrapper {
            .item {
                display: flex !important;
                height: auto !important;
                .bg {
                    width: 40% !important;
                    img {
                        height: 125px !important;
                    }
                }
                .info {
                    width: 60% !important;
                    padding: 15px !important;
                    .locationAndPrice {
                        height: 50% !important;
                        display: flex !important;
                        justify-content: space-between !important;
                        align-items: end !important;
                    }
                }
            }
        }
    }

    .products {
        .items-wrapper {
            .item {
                display: flex;
                .bg {
                    width: 40%;
                    img {
                        height: 125px !important;
                    }
                }
                .info {
                    width: 60%;
                    padding: 15px;
                    .locationAndPrice {
                        height: 50%;
                        display: flex;
                        justify-content: space-between;
                        align-items: end;
                    }
                }
            }
        }
    }

    #footer {
        padding: 30px 15px !important;
        .mainBox ul.categories.two {
            display: none !important;
        }
    }

    #footer .mainBox .line {
        display: none !important;
    }

    #mainPage .products {
        padding: 0 20px !important;
    }
    #mainPage .map-def {
        max-width: calc(100% - 0px) !important;
    }
    #mainPage #mainView {
        height: 340px !important;
        .text {
            .title {
                font-size: 20px !important;
            }
            .disc {
                font-size: 12px !important;
            }
            .btn {
                font-size: 12px !important;
            }
        }
    }

    #mainPage #mainView .text p {
        font-size: 12px !important;
    }
    .title {
        width: 80% !important;
        font-size: 20px !important;
    }
    .appereance {
        .toggle {
            p {
                font-size: 12px !important;
            }
        }
    }
    #prod .items-wrapper {
        height: auto;
        padding: 0 !important;
        gap: 10px;
        .item {
            display: flex !important;
            height: auto !important;
            border-radius: 10px !important;
            flex-direction: row !important;
            gap: 0 !important;
            .bg {
                width: 40% !important;
                img {
                    height: 125px !important;
                }
            }
            .info {
                width: 60% !important;
                padding: 15px !important;
                backdrop-filter: none !important;
                .locationAndPrice {
                    height: 50% !important;
                    display: flex !important;
                    justify-content: space-between !important;
                    align-items: end !important;
                    .price {
                        color: #e98800 !important;
                        .mainPrice {
                            font-size: 22px !important;
                            font-weight: 600 !important;
                        }
                    }
                }
            }
        }
    }

    #prod{
        #map {
            margin-top: 15px !important;
        }
    }

    ._title p {
        font-size: 25px;
        font-weight: 600;
    }

    .title {
        width: 100% !important;
    }
    ._title nav span {
        font-size: 16px !important;
        margin-top: -5px;
    }
    .productView ._title {
        padding: 0 10px !important;
    }
    #mainPage .carousel-container {
        margin: 10px 0 !important;
    }
    .btn {
        padding: 9px 12px !important;
        font-size: 16px !important;
        margin: 10px 0;
    }
    #mainPage .products {
        margin-top: 15px !important;
    }
}

@media only screen and (max-width: 600px) {
    #prod .item {
        flex-direction: column !important;
    }
    #prod .item .right .price .main .btns {
        a,
        div {
            gap: 20px;
            padding: 19px 13px;
            p {
                font-size: 14px;
            }
        }
    }
    #prod .item .right .options {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    #prod {
        padding: 0px 15px;
        ._margin {
            height: 20px !important;
        }
        .item .right .agency .logoAgen img {
            border-radius: 10px;
            width: 60px !important;
            height: 60px !important;
        }
        .item .right .agency .text .titleAgen {
            font-size: 14px;
        }
        .item .right .agency .text .mainTitle {
            font-size: 14px;
        }
        .item .right .agency .text {
            gap: 0;
        }
        .carousel-prod .ar {
            display: none !important;
        }
        .item .right .agency {
            margin-top: 10px;
            padding: 5px 20px 5px 5px;
        }
        .discItem {
            margin-top: 15px;
        }
        .item .right .price .main #price {
            font-size: 28px !important;
        }
        .item .right .title .main h2 {
            font-size: 25px !important;
        }
        .item .left .carousel-prod .images img {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
        .left .mainImg {
            height: 300px !important;
        }
        .item .left .carousel-prod {
            display: flex;
            height: 80px;
        }
        .item .right .price .main {
            display: flex;
            align-items: center !important;
        }
        .item .left {
            width: 100%;
        }
        .right {
            width: 100% !important;
            .price {
                .main {
                    display: flex;
                    flex-direction: row;
                }
            }
            hr {
                margin: 15px 0 !important;
            }
        }
        .discItem .listItems {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    #prod .item .right .price .main .btns a {
        display: none !important;
    }
    #prod .item .right .price .main .btns div {
        width: fit-content;
        height: 45px !important;
    }
    #allProd {
        .filterBlock {
            display: flex;
            overflow-x: scroll;
            max-width: 100%;
            margin-top: 10px !important;
            &::-webkit-scrollbar {
                height: 0;
            }
            input {
                width: 250px !important;
            }
            button {
                display: none;
            }
        }
    }
    ._margin {
        height: 0px !important;
    }
    .modalWindowProfile .wind {
        padding: 30px 10px;
        h2 {
            width: 90%;
            text-align: center;
        }
    }
    #profile {
        .info .colorGrd {
            height: 50px !important;
        }
        .info .main .infoMain img {
            width: 70px !important;
            height: 70px !important;
        }
        .info .main {
            padding: 20px !important;
        }
        button {
            padding: 10px 20px !important;
            font-size: 14px !important;
        }
        .info .main form .inputs {
            grid-template-columns: 1fr;
            gap: 10px !important;
            label {
                margin-bottom: 5px !important;
                font-size: 16px !important;
            }
            input {
                padding: 10px !important;
                border-radius: 5px !important;
            }
        }
        .info .colorGrd {
            height: 100px;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        .info {
            border-radius: 0;
            border: none;
        }
    }
    #register {
        display: block;
        .bg {
            display: none;
        }
    }
    #createItem {
        flex-direction: column;
        padding-top: 20px;
        #map {
            margin-top: 0px !important;
        }
        form {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .baseInfo {
                gap: 5px;
                width: 100%;
                .image-container {
                    margin-bottom: 0;
                }
                .allpluses {
                    gap: 5px !important;
                }
                .pluses {
                    padding: 5px 9px !important;
                }
            }
            button {
                width: fit-content;
                padding: 10px 20px;
            }
        }
        .otherPhotos {
            width: 100%;
            display: grid !important;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            img {
                height: 100%;
                max-width: none !important;
                max-height: none !important;
                width: 100%;
                object-fit: cover;
            }
        }
    }
    #footer .title {
        font-size: 19px !important;
        margin-bottom: 15px !important;
    }
    #footer .social {
        margin-top: 10px !important;
        gap: 0;
        .circle {
            transform: scale(0.7);
        }
    }
    #whishlistUser {
        .wrapper {
            min-height: calc(100vh - 250px) !important;
        }
        .nav {
            height: 100%;
        }
        .items-wrapper {
            margin-top: 20px;
            gap: 5px !important;
            .item {
                display: flex !important;
                height: auto !important;
                border-radius: 10px !important;
                flex-direction: row !important;
                gap: 0 !important;
                .bg {
                    width: 40% !important;
                    img {
                        height: 125px !important;
                    }
                }
                .info {
                    width: 60% !important;
                    padding: 15px !important;
                    backdrop-filter: none !important;
                    .locationAndPrice {
                        height: 50% !important;
                        display: flex !important;
                        justify-content: space-between !important;
                        align-items: end !important;
                        .price {
                            color: #e98800 !important;
                            .mainPrice {
                                font-size: 22px !important;
                                font-weight: 600 !important;
                            }
                        }
                    }
                }
            }
        }
    }
    #mainPage .productView {
        padding: 85px 0 10px !important;
    }
    #prod .item .right .title .main h2 {
        font-size: 20px !important;
        gap: 3px;
        span {
            font-size: 12px;
            padding: 2px 5px;
        }
    }
    #prod .item {
        display: flex;
        gap: 10px !important;
    }
    #prod .item .right .options .itemOpt {
        padding: 5px 10px !important;
        p {
            font-size: 14px;
        }
    }
    body {
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    .smthID {
        font-size: 20px !important;
        margin: 20px 0 10px 0 !important;
    }
    #prod .discItem .listItems {
        li {
            ul {
                gap: 5px !important;
                li {
                    gap: 5px;
                    img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
        h2 {
            font-size: 15px;
            margin-bottom: 10px !important;
        }
        p {
            font-size: 14px;
        }
    }
    #map {
        height: 300px !important;
        margin-top: 0px !important;
    }
    #prod .discItem {
        margin-top: 0px !important;
    }
    #mainPage .appereance .title ul a {
        z-index: 200 !important;
        font-size: 14px !important;
        padding: 5px 10px !important;
    }
    #allProd .filterBlock .search input {
        padding: 10px;
    }
    #allProd .filterBlock .search input {
        font-size: 14px !important;
    }
    #allProd .filterBlock .search img {
        height: 18px;
    }
    #allProd .filterBlock select {
        font-size: 13px !important;
    }
    #allProd .filterBlock {
        gap: 5px !important;
    }
    #allProd .filterBlock select option {
        font-size: 14px;
    }
    #prod .right {
        margin-top: 10px !important;
    }
}
